.menu ul li {
    list-style-type: none;
    display: inline;
    padding-right: 15px;
  }

.menu ul {
    text-align: center;
    margin-top: 40px;;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.logo {
    font-family: 'Dancing Script', cursive;
    color:yellow;
    font-size: 35px;
    
}

header {
    height: 600px;
    background-image: url('https://i.postimg.cc/Sx4kqLCJ/pexels-rodolfo-quir-s-2330137.jpg');
    object-fit: cover;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.header-title h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
}

.header-title h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 70px;
    text-align: center;
}

.wrap {
    display: flex;
}

.btn {
    font-family: 'Oswald', sans-serif;
    min-width: 160px;
    padding: 16px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    background-color: yellowgreen;
    margin: auto;
    text-align: center;
    color: white;
}

section h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.sub-title {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

.card-logo {
    margin-top: 35px;
    display: flex;
    color: yellowgreen;
    
}

.services i {
    font-size: 40px;
    margin: auto;
    border-radius: 100px;
    border-style: solid;
    padding: 15px;
}

.card-body h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 1000;
    }

.card-body p {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
}

.card {
    background-color: white;
}

.portfolio {
    background-color: #E3F2FD;
}

.portfolio h1 {
    padding-top: 42px;
}

img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.portfolio p {
    padding-bottom: 25px;
}

footer p {
    font-family: 'Oswald', sans-serif;   
    vertical-align: middle;
}

.social-media ul li {
    list-style-type: none;
    display: inline;
    padding-right: 15px;
    
}

.social-media ul li a {
    font-size: 0;
}

.social-media ul li i {
    font-size: 18px;
    color: white;
    background-color: black;
    border-radius: 50%;
    /*padding: 20px;
    width: 15px;
    height: 15px;*/
    padding-left: 10px;
    padding-top: 12px;;
    height: 35px;
    width: 35px;
    line-height: 10px;
   
}