.menu ul li {
    list-style-type: none;
    display: inline;
    padding-right: 15px;
  }

.menu ul {
    text-align: center;
    margin-top: 40px;;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.logo {
    font-family: 'Dancing Script', cursive;
    color:yellow;
    font-size: 35px;
    
}

header {
    height: 500px;
    background-image: url('https://i.postimg.cc/Sx4kqLCJ/pexels-rodolfo-quir-s-2330137.jpg');
    object-fit: cover;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.header-title h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
}

.header-title h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 70px;
    text-align: center;
}

.wrap {
    display: flex;
}

.btn {
    font-family: 'Oswald', sans-serif;
    min-width: 160px;
    padding: 16px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    background-color: yellowgreen;
    margin: auto;
    text-align: center;
    color: white;

}